.promo2 {
    width: 80%;
    margin: 0 auto;
    padding: 150px 0 0;
    position: relative;
  }
  
.promo2-content {
    display: flex;
    align-items: flex-start;

}
  
.promo2-img {
    display: flex;
    flex-direction: column;
    gap: 15px;
     
  }
  
.promo2-text {
    text-align: right;
    background-color: rgb(208, 208, 208);
    border-radius: 9px;
    margin-left: 460px; 
    position: absolute;
    top: 150px;
  }
  
.promo2-img img {
    width: 38%;
    height: auto;
    border-radius: 5px;
  }

.promo2-text h1 {
    padding: 20px 0 25px;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: Inter;
    font-weight: 445;
    word-wrap: break-word
}

.promo2-text p {
    text-align: center;
    padding: 0 20px 50px;
    text-indent: 25px;
    color: black;
    font-size: 33px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
    
}
