.promo3 {
    width: 80%;
    margin: auto;
    padding: 150px 0 0;
}

.promo3-text {
    background-color: rgb(208, 208, 208);
    border-radius: 6px;
}

.promo3-text h1 {
    padding: 20px 0 25px;
    text-align: center;
    color: black;
    font-size: 37px;
    font-family: Inter;
    font-weight: 445;
}

.promo3-text p {
    text-align: justify;
    line-height: 40px;
    padding: 0 20px 30px;
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 400;
}

