.container_profile1 {
    background-image: url('./../../img/Group\ 1.png');
    background-size: 1490px 160px;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}

.user_row1 {
    display: flex;
    justify-content: space-between;
    padding: 0 0 50px;
}

.user_logo1 img {
    width: 108px;
    height: 108px;
    margin-left: 36px;
    margin-top: 14px;
}

.user_row1 h1 {
    color: white;
    font-size: 53px;
    font-family: Inter;
    font-weight: 400;
    margin-right: 10px;
    margin-top: 26px;
}

.user_row1 button {
    color: white;
    font-size: 20px;
    margin-right: 150px;
}

.user_row1 button:hover {
    color: rgba(155, 155, 155, 0.9);
}

.info-block .info1 {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #dbdbdb;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-block h1 {
    text-align: left;
    font-size: 31px;
    font-weight: 600;
    padding: 0 190px 25px;
}

.info1 p {
    padding: 10px ;
}

.info1 .change {
    display: flex;
    flex-direction: column;
    
}

.info1 .change h2 {
    padding: 0 0 15px;
}

.info1 .change input[type="email"] {
    background-color: #f4f3f3;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #030303;
    padding: 5px;
    margin-bottom: 10px;
  }

  .info1 .change input[type="password"] {
    background-color: #f4f3f3;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #030303;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .info1 .change button {
    padding: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .info1 .change button:focus {
    outline: none;
  }
  
  .success-message {
    color: rgb(9, 55, 124);
    margin-top: 10px;
  }

  .in {
    margin-top: 30px;
    text-align: left;
  }